$font-family: "Inter", sans-serif;
$second-family: "Ferry", sans-serif;
$size-basic: 18px;

$grey:  #d2d2d2;
$blue: #5970FF;
$gold: #ffb64f;
$lightblue: #7ce3e1;
$black: #000000;
$green: #029491;
$white: #ffffff;